<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading section-box">
                        <h2 class="text-center">服务</h2>
                        <p class="text-center text-muted">Service</p>
                        <hr>
                    </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom:60px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-internet-explorer wow bounceIn text-primary"></i>
                    <h3>web development</h3>
                    <p class="">团团队整合自己的开发设计方案对web application进行专业性的开发设计服务，包括企业网站、社交网站、服务应用类网站等.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eyedropper wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>web design</h3>
                    <p class="text-left">团队依照web设计发展趋势及团队设计基准，如单页面、聚焦简洁、响应式设计、视差滚动等，对网站进行专业性的设计服务.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>mobile application</h3>
                    <p class="text-left">团队根据客户实际情况采用Native App或Hybrid App进行开发设计,主要服务有微信公众号、企业app、微店、社交app等.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>C/S application</h3>
                    <p class="text-left">团队采用最近C/S架构,基于流程化开发设计模式进行,以Python、kivy、node.js等语言或框架进行客户端模式开发.</p>
                </div>
            </div>
        </div>
    </div>
</section>
