<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">

                <!-- <h2 class="section-heading">我们最近产品! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>它或是小巧玲珑,或是创意无限,或是精彩缤纷...</p>
                <hr class="auto"> -->

                <div class="col-lg-12">
                    <div class="section-heading section-box">
                        <h2 class="text-center white">产品</h2>
                        <p class="text-center text-muted white">Product</p>
                        <hr class="bgwhite">
                    </div>
                </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                iobigdata.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                iomatter.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                llango.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                cuntown.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                langoft.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                web development
                            </div>
                            <div class="project-name">
                                akaros.net
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
